body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 0;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
  gap: 20px;
  padding: 20px;
}
article {
  flex: 3;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0, 0.1);
  overflow-y: auto;
}
aside {
  flex: 1;
  padding: 20px;
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  border: 1px solid rgb(220, 220, 220);
  overflow-y: auto;
}
header a {
  color: rgb(24, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
header a:hover {
  text-decoration: underline;
}
header li.logo {
  font-size: 36px;
}
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 15px;
  line-height: 1.6;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid rgb(200, 200, 200);
}

th,
td {
  padding: 10px;
  text-align: left;
}
/* links */
a {
    color: rgb(248, 0, 2);
}

a:hover {
    text-decoration: underline;
}
article, aside{
    width: 100%;
}

footer {
  background-color: rgb(0, 51, 102);
  color: white;
  text-align: center;
  padding: 15px;
}
